.description-text {
  font-size: 0.8em;
  color: #9e9e9e;
}

.circle {
  color: white;
  border-radius: 9999;
  width: 35px;
  height: 35px;
  line-height: 35px;
}

span.badge {
  line-height: 3;
}

.pointer {
  cursor: pointer;
}

.red-text {
  color: #f44336;
}

.blue-text {
  color: #2196f3;
}
